body, div, canvas
{
    image-rendering: optimizeSpeed;
    -webkit-image-rendering: optimizeSpeed;
    -webkit-interpolation-mode: nearest-neighbor;
}
body{padding:0; margin:0;font-size:12px;

	font-family:STSong,华文宋体;
	background:url("./images/bg.png");
	position:center;
	background-size:cover;
	background-repeat:no-repeat;

}
body, html{height: 100%;}
#outer{height:100%; overflow:hidden; position:relative; width:100%;}
#outer[id]{display:table; position:static;}
#middle{position:absolute; top:50%;} /* for ie only*/
#middle[id]{display:table-cell; vertical-align:middle; position:static;}



.classScale {
	animation: scale 2s linear infinite normal;
}
.classScale1 {
	animation: scale1 2s 1s linear infinite normal;
}
.classScale2 {
	animation: scale2 2s 1s linear infinite normal;
}
#bg {
  /* transform: scale(1.2) !important; */
  background-size: cover !important;
}

#zuanshi {
  /* animation: spin 1s linear infinite; */
}

#login-tip {
  position: fixed;
  display: none;
  width: 42.667vw;
  height: 8.667vw;
  top: 50%;
  left: 50%;
  margin-top: -3.333vw;
  margin-left: -13.333vw;
  background: rgba(0, 0, 0, 0.5);
  color: #F18F3F;
  font-size: 3vw;
  text-align: center;
  line-height: 8.667vw;
  border-radius: 4vw;
  transform: rotate(90deg);
}
.show {
  display: block !important;
}

#no-gold-wrapper {
  position: fixed;
  display: none;
  width: 90.133vw;
  height: 46.4vw;
  top: 50%;
  left: 50%;
  margin-top: -23.2vw;
  margin-left: -38.067vw;
  background: url('./images/zhifuwancheng.png') no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(90deg);
}
.close-no-gold-icon {
  display: inline-block;
  position: absolute;
  right: -1.83vw;
  top: -1.83vw;
  width: 9.6vw;
  height: 9.866vw;
  background: url('./images/close.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.no-gold-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 90.133vw;
  align-items: center;
  margin-top: 26.4vw;;
}
.no-gold-share {
  display: inline-block;
  width: 29.56vw;
  height: 9.33vw;
  background: url('./images/yaoqing.png') no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  line-height: 9.33vw;
  color: #FFFFFF;
  letter-spacing: 0.867vw;
  margin-right: 8vw;
}
.no-gold-chongzhi {
  display: inline-block;
  width: 29.56vw;
  height: 9.33vw;
  background: url('./images/yaoqing.png') no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  line-height: 9.33vw;
  color: #FFFFFF;
  letter-spacing: 0.867vw;
}

@keyframes spin {
  from {
    transform: rotate3d(45, 1, 1, 0deg);
  }
  to {
    transform: rotate3d(45, 1, 1, 360deg);
  }
}

#bottom {
  /* /* background-size: cover; */
  width: 20.267vw !important;
  height: 173.87vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
#skin, #cannonMinus, #cannonPlus {
  width: 8vw !important;
  height: 12vw !important;
  background-size: contain !important;
}

#cannon {
  background-size: cover;
  background-repeat: no-repeat;
}

#gold-coin-number {
  position: absolute;
  color: #FFA73F;
  font-weight: bolder;
  display: none;
  font-size: 4vw;
  /* left: -14.33vw; */
  letter-spacing: 2vw;
  z-index: 200;
  /* top: 50%;
  margin-top: -49.067vw; */
  transform: rotate(90deg);
  font-family: STSong,华文宋体 !important;
}

#zushi-coin-number {
  position: absolute;
  color: #FFA73F;
  font-weight: bolder;
  display: none;
  font-size: 4vw;
  letter-spacing: 2vw;
  z-index: 200;
  /* bottom: 50%;
  margin-bottom: -51.967vw; */
  transform: rotate(90deg);
  /* left: -14.33vw; */
  font-family: STSong,华文宋体 !important;
}

.hengping {
  transform: rotate(90deg);
}
#loginContent {
  transform: rotate(90deg);
  font-size: 2.26vw;
  font-family: Alibaba-PuHuiTi-M, Alibaba-PuHuiTi;
  font-weight: normal;
  color: #F18F3F;
  display: flex;
  flex-direction: column;
  margin-top: 17vw;
}
.online-status  {
  color: #F18F3F;
}
.logout-style {
  margin-left: 3vw;
  font-weight: bold;
}

@keyframes scale {
	0% {
		transform: scale(0);
		background:#ff0000;
	}
	10% {
		transform: scale(0.1);
		background:#ff1d1d;
	}
	20% {
		transform: scale(0.2);
		background:#ff3939;
	}
	30% {
		transform: scale(0.3);
		background:#ff5e5e
	}
	40% {
		transform: scale(0.4);
		background:#ff7d7d;
	}
	50% {
		transform: scale(0.5);
		background:#ff9c9c;
	}
	60% {
		transform: scale(0.6);
		background:#ffb3b3;
	}
	70% {
		transform: scale(0.7);
		background:#ffcece;
	}
	80% {
		transform: scale(0.8);
		background:#ffeeee;
	}
	100% {
		transform: scale(0.9);
		background:orange;
	}
}

@keyframes scale1 {
	0% {
		transform: scale(0);
		background:#ff0000;
	}
	10% {
		transform: scale(0.1);
		background:#ff1d1d;
	}
	20% {
		transform: scale(0.2);
		background:#ff3939;
	}
	30% {
		transform: scale(0.3);
		background:#ff5e5e
	}
	40% {
		transform: scale(0.4);
		background:#ff7d7d;
	}
	50% {
		transform: scale(0.5);
		background:#ff9c9c;
	}
	60% {
		transform: scale(0.6);
		background:#ffb3b3;
	}
	70% {
		transform: scale(0.7);
		background:#ffcece;
	}
	80% {
		transform: scale(0.8);
		background:#ffeeee;
	}
	100% {
		transform: scale(0.9);
		background:orange;
	}
}


@keyframes scale2 {
	0% {
		transform: scale(0.6);
		background:#ff0000;
		color:blue;
	}
	25% {
		transform: scale(0.7);
		background:#ffcece;
		color:gray;
	}
	50% {
		transform: scale(0.8);
		background:#ffeeee;
		color:red;
	}
	75% {
		transform: scale(0.9);
		background:orange;
		color:blue;
	}
	100% {
		transform: scale(1);
		background:orange;
		color:red;
	}
}